flask==3.1.0
flask-sqlalchemy==3.1.1
redis==5.2.1
rq==1.16.2
requests==2.32.3
gunicorn==23.0.0
gevent==24.11.1
python-dotenv==1.0.1
pytz==2024.1
beautifulsoup4==4.12.3
apscheduler==3.10.4
playwright
Pillow==11.1.0
curl_cffi
